.List {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .List-item {
    padding: 0.5em;
    display: flex;
    background: white;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    box-shadow: 2px 2px 3px #d8d8d8;
  }
  
  .List-item-img {
    width: 70px;
    height: 70px;
    margin: 0;
    margin-right: 10px;
    text-align: center;
    flex-shrink: 0;
  }
  
  .List-item-img img {
    max-width: 100%;
    max-height: 70px;
    margin: 0 auto;
  }
  